<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8"/>
    <title>Siw Galleria - Opera</title>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" media="screen" />

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"></script>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" />

    <link href="css/main.css" th:href="@{css/main.css}" rel="stylesheet"/>


</head>
<body>
<div class="contcenter">
    <div class="centered">

<div class="list-group">
    <a class="list-group-item">Nome: <b th:text="${opera.titolo}"></b></a>
    <a class="list-group-item">Anno: <b th:text="${opera.anno}"></b></a>
    <a class="list-group-item">Altezza: <b th:text="${opera.altezza}"></b></a>
    <a class="list-group-item">Larghezza: <b th:text="${opera.larghezza}"></b></a>
    <a class="list-group-item">Autore: <b th:text="${opera.autore.name + ' ' +opera.autore?.cognome}"></b></a>
    <a class="list-group-item">Tecnica: <b th:text="${opera.tecnica?.nome}"></b></a>
</div>

    </div>
</div>
</body>
</html>