<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8"/>
    <title>Siw Galleria</title>



    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"

          rel="stylesheet" media="screen" />

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"></script>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"

    />

    <link href="css/main.css"
          th:href="@{css/main.css}" rel="stylesheet"/>


</head>
<body>
<div class="container">

    <div id="imgheader">
        <img src="logo.png" alt="siw gallery" class="img-responsive center-block" />
    </div>

    <div class="well well-sm">


            <div class="btn-group">
                <a href="#" id="lista" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th-list">
            </span>Lista</a>
                <a href="#" id="griglia" class="btn btn-default btn-sm"><span
                    class="glyphicon glyphicon-th"></span>Griglia</a>
                <a  sec:authorize="hasRole('ADMIN')" href="protected/aggiungiOpera" id="griglia" class="btn btn-default btn-sm"><span
                        class="glyphicon glyphicon-picture"></span>Inserisci Opera</a>

            </div>
    </div>








    <div   id="opere" class="row list-group">

        <div th:each="opera : ${opere}" class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">

                <a th:href="@{/opera/{id}(id=${opera.id})}"><img class="group list-group-image" src="http://placehold.it/400x250/000/fff"  alt="immagine opera" /> </a>
                    <!-- th:src="@{/immagini/{id}(id=${opera.id})}" -->

                <div class="caption">
                    <h4 class="group inner list-group-item-heading" th:text="${opera.titolo}"></h4>
                    <p class="group inner list-group-item-text" th:text="${opera.NomeAutoreCompleto}"></p>
                    <p class="group inner list-group-item-text" th:text="${opera.descrizione}"></p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                           <!-- <a th:href="@{/opera/{id}(id=${opera.id})}">Dettagli</a>-->
                        </div>
                        <div class="btn-corner" sec:authorize="hasRole('ADMIN')">
                            <a class="btn btn-default" th:href="@{/protected/modificaOpera/{id}(id=${opera.id})}">Modifica</a>
                            <a class="btn btn-danger" th:href="@{/protected/eliminaOpera/{id}(id=${opera.id})}">Elimina</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>
<script>
    $(document).ready(function() {
        $('#lista').click(function(event){event.preventDefault();$('#opere .item').addClass('list-group-item');});
        $('#griglia').click(function(event){event.preventDefault();$('#opere .item').removeClass('list-group-item');$('#opere .item').addClass('grid-group-item');});
    });
</script>
</body>
</html>
